/* Colores y tipografías */
:root {
  /* Colores */
  --primary: #285D98;
  --secondary: #167A92;
  --white: #ffffff;
  --taupe: #F7F6F2;
  --lightGrey: #d8d8d8;
  --mediumGrey: #939395;
  --darkGrey: #4C5666;
  --black: #2E3644;
  --success: #3C9B94;
  --error: #D03F3F;

  /* Fuentes */
  /* --fontPrimary: 'Raleway', sans-serif; */
  --fontPrimary: "Josefin Sans", serif;
  --fontSeconday: "Playfair Display", serif;
}

* {
  padding: 0;
  margin: 0;
}

/* Globales */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1REM = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Body */

body {
  font-family: var(--fontPrimary);
  font-size: 2rem;
  font-weight: 300;
  color: var(--black);
}

/* Header */
header {
  background-color: var(--taupe);
  padding: 3rem 6rem 2rem 6rem;
  position: fixed;
  width: 100%;
  top: 0;
  /* left: 0; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 999;
}

.header-top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  flex: 1;
}

.header-logo img {
  height: 5rem;
}

/* NavBar */

.nav-list {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  /* text-transform: uppercase; */
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: var(--black);
  font-weight: 400;
}

.nav-link:hover {
  color: var(--secondary);
}

/* -------------------------------------------------------------------- */

/* sección HERO */

.hero {
  margin-top: 14rem;
}

.hero img {
  width: 100%;
}

/* -------------------------------------------------------------------- */

/* Item | ItemList | ItemListContainer */

.main-container {
  /* max-width: 120rem; */
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  list-style-type: none;
  /* padding: 0; */
  /* margin-top: 0; */
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  width: 100%;
  overflow: hidden;
}

.product-image img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  transition: all .5s ease-in-out;
}

.product-image img:hover {
  opacity: 0.7;
  transform: scale(1.25);
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

.product-name {
  cursor: pointer;
  color: var(--black);
  font-weight: 400;
  font-size: 1.8rem;
}

.product-name:hover {
  color: var(--secondary);
}

.product-price {
  /* cursor: pointer; */
  color: var(--black);
  font-weight: 350;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* -------------------------------------------------------------------- */

/* Filtros de productos */
.category-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-name h2 {
  font-family: var(--fontSeconday);
  font-weight: 500;
}

.category-name p {
  font-size: 1.6rem;
  font-weight: 350;
  color: var(--mediumGrey);
}


/* -------------------------------------------------------------------- */

/* Sección Detalle producto */

#detail-section {
  margin-top: 18rem;
  padding: 0rem 8rem 8rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#detail-section a {
  text-decoration: none;
}

.product-detail {
  display: flex;
  gap: 4rem;
}

.product-detail-img {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  max-width: 70rem;

}

.product-detail img {
  width: 100%;
  /* display: block; */
  /* height: 100%; */
  /* margin-bottom: 25px; */
}

.product-detail-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  position: sticky;
  top: 18rem;
  align-self: flex-start;
}

.product-detail-name {
  font-family: var(--fontSeconday);
  font-weight: 500;
}

.product-detail-price {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 1px solid var(--lightGrey);
  padding-bottom: 2rem;
}

.product-detail-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border-bottom: 1px solid var(--lightGrey); */
  /* padding-bottom: 2rem; */
}

.product-detail-stock {
  font-size: 1.7rem;
  padding-top: 1.5rem;
  color: var(--mediumGrey);
}

.product-detail-description p:first-child {
  font-weight: 400;
  color: var(--secondary);
}

.link-back {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--darkGrey);
  line-height: 1.7rem;
}

.link-back span:last-child {
  font-size: 1.7rem;
  font-weight: 350;
  color: var(--mediumGrey);
}

.cart-header a {
  text-decoration: none;
}

.loader-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20rem auto;
}

.loader-spinner p {
  font-size: 2rem;
  color: var(--mediumGrey);
}

.loader-icon {
  font-size: 3rem;
  /* tamaño del ícono */
  color: var(--secondary);
  /* o el color que quieras */
  animation: spin 1s linear infinite;
  display: block;
  margin: 2rem auto;
  /* centrado */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 768px) {
  .product-detail-info {
    position: static;
    /* vuelve a fluir con el contenido */
    top: auto;
  }
}

@media (max-width: 576px) {
  .product-detail {
    flex-direction: column;
  }

  #detail-section {
    padding: 0rem 3rem 4rem 3rem;
  }

  .product-detail-img {
    width: 100%;
  }

  .product-detail-info {
    width: 100%;
  }
}

/* -------------------------------------------------------------------- */

/* Sección compra */

#buy-actions {
  display: flex;
  align-items: center;
  width: 80%;
}

.product-actions {
  margin-top: 4rem;
}

.buy-product {
  display: flex;
  border: 1px solid var(--darkGrey);
  border-right: none;
  height: 4.5rem;
  align-items: center;
  /* gap: 1rem; */
}

.remove,
.add,
.quantity {
  width: 4.5rem;
  height: 4.5rem;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;

}

.quantity {
  font-weight: 350;
  font-size: 1.6rem;
}

.add {
  border-left: 1px solid var(--darkGrey);
  cursor: pointer;
}

.remove {
  border-right: 1px solid var(--darkGrey);
  cursor: pointer;
}

.remove:hover,
.add:hover {
  color: var(--secondary);
}

.shop-button {
  font: var(--fontPrimary);
  height: 4.5rem;
  background-color: var(--darkGrey);
  border: 1px solid var(--darkGrey);
  color: var(--white);
  cursor: pointer;
  letter-spacing: .1rem;
  text-transform: uppercase;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 350;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all .6s ease;
}

.shop-button-text {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}

.shop-button-icon {
  font-size: 2rem;
  vertical-align: middle;
}

.shop-button:hover {
  color: var(--darkGrey);
  background-color: var(--white);
}

@media (max-width: 576px) {
  #buy-actions {
    width: 100%;
  }
}

/* -------------------------------------------------------------------- */

/* Página de error */

.main-error {
  /* max-width: 120rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin: 16rem auto;
  /* padding: 4rem; */
}

.main-error-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main-error-text h1 {
  font-size: 2.8rem;
}

.main-error img {
  width: 30rem;
}

.main-error a {
  width: 100%;
  max-width: 40rem;
}



/* -------------------------------------------------------------------- */

/* SECCIÓN CARRITIO */

/* Cart Widget */

#cart {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 18rem 4rem 4rem 4rem;
  /*   position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto; */
}

#cart-widget {
  color: var(--black);
  font-size: 2.6rem;
  cursor: pointer;
}

.cart-badge {
  background: var(--secondary);
  border-radius: 100%;
  font-size: 1.2rem;
  position: absolute;
  top: 4.4rem;
  right: 5rem;
  display: block;
  line-height: 2rem;
  height: 1.8rem;
  width: 1.8rem;
  text-align: center;
  color: var(--white);
  cursor: pointer;
}

.cart-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  /* transition: all .4s ease; */
  /* -webkit-transition: all .4s ease; */
  /* -ms-transition: all .4s ease; */
  /* -moz-transition: all .4s ease; */
  /* -o-transition: all .4s ease; */
}

.cart-header h2 {
  font-size: 2.6rem;
}

.close-cart svg {
  font-size: 3rem;
}

.cart-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6rem;
  width: 100%;
}

.cart-items {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  /* imagen | contenido | botón eliminar */
  gap: 2rem;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--lightGrey);
  font-size: 1.5rem;
  font-weight: 350;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item img {
  width: 100%;
  /* grid-column: 1 / 2; */
}

.cart-item-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1rem;
  justify-items: center;
}

.cart-item-name {
  grid-column: 1 / 2;
  justify-self: flex-start;
}

.cart-item-price {
  grid-column: 2 / 3;
  text-align: center;
}

.cart-item-quantity {
  grid-column: 3 / 4;
  display: flex;
  border: 1px solid var(--darkGrey);
  height: 3.5rem;
  align-items: center;
  justify-content: center;
  /* gap: 0.5rem; */
  width: fit-content;
}

.remove-item,
.add-item,
.quantity-item {
  width: 3.5rem;
  height: 3.5rem;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.remove-item {
  border-right: 1px solid var(--darkGrey);
}

.add-item {
  border-left: 1px solid var(--darkGrey);
}

/* .remove-item svg,
.add-item svg {
  width: 1.5rem;
  height: 1.5rem;
} */

.cart-item-total-price {
  grid-column: 4 / 5;
  text-align: center;
}

.cart-remove-item {
  justify-self: center;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--secondary);
}

.cart-item-header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-weight: 450;
  text-align: center;
  color: var(--black);
  gap: 2rem;
  /* border-bottom: 1px solid var(--lightGrey); */
}

.cart-item-name-header {
  text-align: left;
  justify-self: flex-start;
}

.cart-item-price-header,
.cart-item-quantity-header,
.cart-item-total-price-header {
  text-align: center;
}

.order-summary {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: sticky;
  top: 18rem;
}

.order-summary-title {
  font-weight: 400;
}

.order-summary-detail {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding: 4rem 3rem;
  border: 1px solid var(--lightGrey);
  background-color: var(--taupe);
}

.order-summary-price {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
}

.order-summary-subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.8rem;
}

.order-summary-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 400;
}

.order-summary-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.cart-actions button {
  width: 100%;
}

.cart-price p:first-child {
  font-size: 1.8rem;
  font-weight: 350;
}

.cart-price p:last-child {
  font-weight: 400;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.empty-cart-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 60%;
}

.empty-cart-title {
  color: var(--darkGrey);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.empty-cart-copy {
  text-align: center;
}

.empty-cart img {
  width: 20rem;
}


@media (max-width: 768px) {

  #cart {
    padding: 18rem 2rem 4rem 2rem;
  }

  .cart-items {
    width: 100%;
  }

  .cart-item {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem 0;
    border-bottom: 1px solid var(--lightGrey);
  }

  .cart-item:last-child {
    border-bottom: 1px solid var(--lightGrey);
    padding-bottom: 4rem;
  }

  .cart-item img {
    width: 15rem;
    /* flex-shrink: 0; */
  }

  .cart-item-name,
  .cart-item-quantity,
  .cart-item-total-price {
    grid-column: auto;
    text-align: left;
  }

  .cart-item-price {
    display: none;
  }

  .cart-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 2rem;
  }

  .cart-remove-item {
    align-self: flex-start;
    font-size: 2rem;
    background: none;
    border: none;
    padding-top: 0.5rem;
  }

  .cart-detail {
    flex-direction: column;
  }

  .order-summary {
    width: 100%;
  }

  .empty-cart-info {
    width: 100%;
  }

  .cart-item-header {
    display: none;
  }
}



/* -------------------------------------------------------------------- */

/* Sección Checkout */

#checkout {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 18rem 4rem 4rem 4rem;
}

.checkout-header {
  margin-top: 18rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  padding: 0rem 8rem 4rem 8rem;
}

.checkout-header h2 {
  font-size: 2.6rem;
}

.checkout-content {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
}

#form-section {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: flex-start;
}

.checkout-info-title {
  font-weight: 400;
  font-size: 2.2rem;
}

.form-checkout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  align-items: center;
  border: 1px solid var(--lightGrey);
  background-color: var(--taupe);
  padding: 6rem;
  /* box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.1); */
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form-row label {
  font-weight: 350;
}

.form-row input {
  font: var(--fontPrimary);
  font-size: 1.8rem;
  font-weight: 300;
  border: 1px solid var(--mediumGrey);
  border-radius: 0.5rem;
  letter-spacing: .06rem;
  outline: none;
  padding: 2rem;
  transition: all 0.3s;
}

.input-error {
  border: 1px solid var(--error);
  background-color: rgba(244, 72, 72, 0.1);
}

.checkout-button {
  width: 50%;
}

.form-error {
  color: var(--error);
  font-size: 1.6rem;
  font-weight: 350;
  padding-top: 0.5rem;
}

.checkout-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.checkout-order-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: var(--taupe);
  padding: 4rem;
  margin-top: 2rem;
  align-items: center;
  gap: 1rem;

}

.checkout-order-title p:first-child {
  font-weight: 400;
}

.checkout-order-detail {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.checkout-order-number {
  display: flex;
  gap: 2rem;
  font-size: 2.2rem;
  border-bottom: 1px solid var(--lightGrey);
  padding-bottom: 2rem;
}

.checkout-order-number p:first-child {
  font-weight: 400;
}

.checkout-item-detail {
  display: flex;
  gap: 3rem;
}

.checkout-item-detail img {
  width: 8rem;
}

.checkout-item-content {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkout-item-name {
  font-weight: 400;
}

.checkout-order-total {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  /* font-size: 1.8rem; */
  font-weight: 400;
  background-color: var(--taupe);
  padding: 3rem;
}

@media (max-width: 768px) {
  #checkout {
    padding: 18rem 2rem 4rem 2rem;
  }

  .checkout-info-title {
    font-size: 2rem;
  }

  .checkout-order-copy {
    font-size: 1.8rem;
  }

  .form-checkout {
    padding: 3rem;
    font-size: 1.8rem;
  }

  .checkout-button {
    width: 100%;
  }

  /*  .order-number {
    flex-direction: column;
  } */
}

/* -------------------------------------------------------------------- */

/* FOOTER */

#footer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--taupe);
  padding: 4rem 0 2rem 0;
  margin-top: 3rem;
}

.footer-content {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  justify-content: center;
  align-items: flex-start;
  color: var(--black);
  width: 100%;
  padding: 0 2rem;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.footer-info svg {
  font-size: 3rem;
  color: var(--secondary);
}

.footer-copy {
  font-size: 1.6rem;
  width: 80%;
  text-align: center;
  line-height: 1.2;
}

.footer-title {
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border-bottom: 1px solid var(--lightGrey);
  padding: 0 2rem 4rem 2rem;

}

.social-media-logos {
  display: flex;
  gap: 8rem;
}

.social-media-title {
  /* font-size: 1.8rem; */
  font-family: var(--fontSeconday);
  font-weight: 350;
}

.social-media-logos svg {
  font-size: 2.2rem;
  color: var(--secondary);
}

.copyright {
  font-size: 1.4rem;
  color: var(--darkGrey);
  text-align: center;
  padding: 2rem 2rem 0 2rem;
  border-top: 1px solid var(--lightGrey);
}

@media (max-width: 576px) {
  .footer-content {
    gap: 4rem;
  }

  .footer-info svg {
    font-size: 2.2rem;
  }

  .footer-copy {
    font-size: 1.4rem;
    width: 100%;
  }

  .footer-title {
    font-size: 1.4rem;
  }

  .social-media {
    padding: 0 2rem 3rem 2rem;
  }

  .social-media-title {
    font-size: 2rem;
  }

  .copyright {
    font-size: 1.2rem;
    padding: 2rem 2rem 0 2rem;
  }

  #footer {
    padding: 3rem 0 2rem 0;
  }
}


/* -------------------------------------------------------------------- */

/* BUTTONS */

.primary-button {
  font: var(--fontPrimary);
  width: 100%;
  font-size: 1.2rem;
  font-weight: 350;
  display: inline-block;
  text-decoration: none;
  padding: 1.5rem;
  text-align: center;
  height: 4.5rem;
  background-color: var(--darkGrey);
  border: 1px solid var(--darkGrey);
  color: var(--white);
  cursor: pointer;
  transition: all .6s ease;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.primary-button:hover {
  color: var(--darkGrey);
  background-color: var(--white);
}

.secondary-button {
  font: var(--fontPrimary);
  width: 100%;
  font-size: 1.2rem;
  font-weight: 350;
  display: inline-block;
  text-decoration: none;
  padding: 1.5rem;
  text-align: center;
  height: 4.5rem;
  background-color: var(--white);
  border: 1px solid var(--darkGrey);
  color: var(--darkGrey);
  cursor: pointer;
  transition: all .6s ease;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.secondary-button:hover {
  border: 1px solid var(--secondary);
  color: var(--secondary);
}

.text-link {
  text-decoration: none;
  color: var(--secondary);
  font-weight: 350;
  border-bottom: 0.1rem solid transparent;
  transition: all .5s ease;
  cursor: pointer;
  letter-spacing: .06rem;
  font-size: 1.9rem;
}

.text-link:hover {
  border-bottom: 0.1rem solid var(--secondary);
}

/* -------------------------------------------------------------------- */

/* MODAL */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  /* font-weight: 300; */
  font-size: 2rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--white);
  padding: 4rem;
  /* border-radius: 8px; */
  text-align: center;
  max-width: 50rem;
}

.modal-actions {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {

  .modal-content {
    width: 80%;
  }

  .modal-actions {
    flex-direction: column;
  }

}